<h1>cart items</h1>
<ul>
  <% if @line_items.any? %>
    <% @line_items.each do |item| %>
      <li>
        <p>Price: <%= item[:price_data] %></p>
        <p>Quantity: <%= item[:quantity] %></p>
      </li>
    <% end %>
  <% end %>
</ul>
