<div id="adminDashboard" class="container-fluid px-0 px-md-2 d-flex justify-content-center">
    
    <main class="col col-md-9 col-xl-8" >
      <turbo-frame id="adminOptions" >
      </turbo-frame>
    </main>

</div>
