<div class="container-fluid">
  <div class="row justify-content-center align-items-center flex-wrap">
    <div class="col-8 col-sm-4">
      <a href="https://shippo.com">
        <div class="admin-nav-card">
              <%= image_tag "shippo-logo.png", class: "img-fluid" %>
        </div>
      </a>
    </div>
    <div class="col-8 col-sm-4">
      <a href="https://stripe.com">
        <div class="admin-nav-card">
              <%= image_tag "stripe-logo.png", class: "img-fluid" %>
        </div>
      </a>
    </div>
    <div class="col-8 col-sm-4">
      <a href="https://mail.hostinger.com">
        <div class="admin-nav-card">
              <%= image_tag "hostinger-logo.png", class: "img-fluid" %>
        </div>
      </a>
    </div>
  </div>
</div>
