<div id="adminDashboard" class="container-fluid d-flex justify-content-center">
    
    <main class="col-md-9 col-xl-8" >
      <turbo-frame id="adminOptions" ></turbo-frame>
    </main>

</div>

<%= javascript_include_tag 'custom/active_list_item.js' %>
