<%= turbo_frame_tag "about_details" do %>
  <!-- About card and teaser info -->
  <div class="container-fluid">
    <div class="row justify-content-center">

      <!-- Card -->
      <div class="card about-details-card blur border-0 rounded-0 shadow-lg p-0 col col-lg-11 col-xl-9 col-xxl-8">

            <!-- Card Body -->
              <div class="card-body p-1 p-sm-5 d-flex flex-column align-items-center">
                
                <div class="card-text">
                  <!-- Card Image -->
                  <div class="d-flex flex-column align-items-center py-3">
                    <%= image_tag "jessie-sitting-forest-reduced.webp", class: "about-main-img d-block", alt: "The owner sitting in a forest showing one of her handmade ceramic products" %>
                    <figure class="pt-2 about-quote pb-3">
                      <blockquote cite="https://masterpiecesociety.com/100-quotes-art-creativity/">
                        <p class="fs-6 text-center opacity-50">
                          "I found I could say things with color and shapes that I couldn’t say any other way – things I had no words for."
                        </p>
                      </blockquote>
                      <figcaption class="text-center">
                        <cite><small class="fs-6">— Georgia O'Keeffe</small></cite>
                      </figcaption>
                    </figure>
                  </div>

                  <div class="fs-6 about-blog">
                    <p>Welcome to Zold Ceramics! I'm Jessie Zold Edwards, the face behind the pottery.</p>
                    <p>
                    I fell in love with creating, usually with the purpose of giving, when I was quite young. 
                    Likely inspired by the family around me: grandmothers that poured love into big family meals, 
                    a mom that served endlessly to care for us and a dad that worked with his hands daily to provide. 
                    I quickly learned that the work of your hands becomes an expression of your love.
                    </p>
                    <p>
                    This passion to create - seeking the place where beauty and practicality meet - 
                    is what has inspired my ceramic journey and my love for functional art. In hindsight, 
                    it's what drove me out across the country, where I would meet my husband, 
                    in pursuit of a career in structural engineering.
                    </p>
                    <p>
                    It's here in the quiet foothills of Alberta, that my husband and I(along 
                    with our four kids) have made our home and where I continue to find inspiration by baking for 
                    my community and creating ceramic art. It's been a wonderful journey, and a story uniquely our own.
                    </p>
                    <p>
                    Through art, baking and handmade ceramics, I've found a way to quiet the noise around me 
                    and offer this whirlwind world something truly authentic. I hope my ceramic art brings 
                    beauty into your homes, excitement to your gift giving and both a nostalgia for times past 
                    and a hope for the future.
                    </p>
                    <div class="d-flex gap-5 align-items-center">
                      <p>
                      Happy shopping!
                      </p>
                      <%= link_to shop_path, class: "btn mb-3 py-2 btn-secondary rounded-0", data: { turbo_frame: :_top } do %>
                        Shop Now
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <!-- End Card Body -->

      </div>
      <!-- End Card -->

    </div>
  </div>
<% end %>
