<!-- Contact card and teaser info -->
<div class="container-fluid">
  <div class="row justify-content-center">

    <!-- Card -->
    <div class="card image-link-card border-0 rounded-0 shadow-lg col col-md-10 col-xxl-8 p-0">
          <!-- Card Image -->
      <%= image_tag "cream-mugs-1.jpeg", class: "card-image" %>

      <!-- Card Overlay -->
      <div class="card-img-overlay d-flex text-center flex-column align-items-center justify-content-center p-5 text-light" style="text-shadow: 1px 0px 5px black;">
        <h1 class="card-title display-2">Contact us</h1>
        <div class="d-flex justify-content-center p-2">
          <%= button_to "Contact Form", about_path, method: :get, class: "btn btn-outline-light btn-lg border-2 shadow-lg" %>
        </div>
      </div>
      <!-- End Card Overlay -->

    </div>
    <!-- End Card -->

  </div>
</div>
