<h1>Pages#about</h1>
<ul>
  <% if @order_details.any? %>
    <% @order_details.each do |line_info| %>
      <li><%= line_info %></li>
    <% end %>
  <% end %>
</ul>
<p>Find me in app/views/pages/about.html.erb</p>
