<%= turbo_frame_tag "about_details" do %>
  <!-- About card and teaser info -->
  <div class="container-fluid aboutContainer">
    <div class="row justify-content-center">

      <!-- Card -->
      <div class="card border-0 rounded-0 shadow-lg p-0 col col-xl-10 col-xxl-8 p-0 hoverCard">

            <!-- Card Body -->
              <div class="card-body p-1 p-sm-5 d-flex flex-column justify-content-around">
                
                <div class="card-text">
                  <!-- Card Image -->
                  <div class="d-flex flex-column align-items-center pb-3">
                    <%= image_tag "jessie-sitting-forest-resized.jpg", class: "about-main-img float-start me-3 d-block" %>
                    <figure class="pt-2">
                      <blockquote cite="https://masterpiecesociety.com/100-quotes-art-creativity/">
                        <p class="fs-5 text-center opacity-50">
                          "I found I could say things with color and shapes that I couldn’t say any other way – things I had no words for."
                        </p>
                      </blockquote>
                      <figcaption class="text-center">
                        <cite><small class="fs-6">— Georgia O'Keeffe</small></cite>
                      </figcaption>
                    </figure>
                  </div>

                  <div class="about-blog fs-1">
                    <p class="text-center home-card-title display-3"> Welcome to <i>Zold Ceramics!</i></p>
                    <p>I'm Jessie Zold Edwards, the face behind the pottery.</p>
                    <p>
                    To me, the most wonderful art is found in the practical. The old shoes that fit just right,
                    that magic chair that always lulls you into an afternoon nap - 
                    the family recipe that's comforted and fed generations. 
                    These are the things that carry memory and meaning for as long as they last, and this is what
                    I strive for my ceramics to achieve - to be as beautiful in use as they are in aesthetic.
                    </p>
                    <p>
                    This innate love for useful art - seeking the place where beauty and practicality meet - 
                    is in hindsight what drove me out into the world. From the family farm in Ontario to the 
                    province of Alberta to become a structural engineer, to finally leaving town-life behind again to live
                    in an off-grid home of our own making. My husband and I's greatest pleasure is now watching our children 
                    grow and play in a life that is uniquely our own design.
                    </p>
                    <p>
                    Through art, baking and handmade ceramics, I've found a way to quiet the noise around me 
                    and offer this whirlwind world something truly authentic. I hope my ceramic art brings 
                    joy into your homes, excitement to your gift giving and both a nostalgia for times past 
                    and a hope for the future.
                    </p>
                    <div class="d-flex justify-content-between align-items-start">
                      <p>
                      Happy shopping!
                      </p>
                      <%= link_to "Shop Now", shop_path, class: "btn btn-secondary", data: { turbo_frame: :_top } %>
                    </div>
                  </div>
                </div>
              </div>
            <!-- End Card Body -->

      </div>
      <!-- End Card -->

    </div>
  </div>
<% end %>
