<%= turbo_frame_tag "about_details" do %>
  <!-- About card and teaser info -->
  <div class="container-fluid aboutContainer py-md-5">
    <div class="row justify-content-center">

      <!-- Card -->
      <div class="card border-0 rounded-0 shadow-lg p-0 col col-xl-10 col-xxl-8 p-0 hoverCard">

            <!-- Card Body -->
              <div class="card-body p-1 p-sm-5 d-flex flex-column justify-content-around">
                
                <div class="card-text ">
                  <!-- Card Image -->
                  <%= image_tag "jessie-sitting-forest.jpg", class: "about-main-img float-start me-3 d-block" %>
                  <figure>
                    <blockquote cite="https://example.com/source-document-url">
                      <p class="fs-2 text-center opacity-50">
                        "The only limit to our realization of tomorrow is our doubts of today."
                      </p>
                    </blockquote>
                    <figcaption class="text-center">
                      <cite><small class="fs-4">— Franklin D. Roosevelt</small></cite>
                    </figcaption>
                  </figure>

                  <p> Welcome to <i>Zold Ceramics!</i></p>
                  <p>I'm Jessie Zold Edwards, the face behind the pottery.</p>
                  <p class="fs-6">
                  I've spent countless hours in the kitchen baking up treats for my family 
                  and friends for as long as I can remember. My love for cooking began when I was 
                  quite young, as I was often  my mom and great-grandmother's shadow in the kitchen. 
                  I always loved having something to offer at family gatherings or holidays - I think 
                  that's where my love of handmade gifts truly began.
                  </p>
                  <p class="fs-6">
                  Growing up in the 90's meant I lived before and after everyone had a computer in 
                  their homes or at their fingertips. I'm so thankful for the generation I grew up 
                  in. I love how technology has made the world feel small, how we can connect with 
                  people from all over and they don't seem so far away. I'm also thankful I knew a 
                  time when in-person, human interaction was the only way we made connections. As much 
                  as I love this crazy life I've found, my heart longs for the simplicity of a time gone 
                  by.
                  </p>
                  <p class="fs-6">
                  Through art, baking and handmade cermaics, I've found a way to quiet the world around me 
                  and offer this whirlwind world something truly authentic. I hope my ceramic art brings 
                  joy into your homes, excitement to your gift giving and both a nostaglia for times past 
                  and a hope for the future.
                  </p>
                  <p>
                  Happy shopping!
                  </p>
                </div>
              </div>
            <!-- End Card Body -->

      </div>
      <!-- End Card -->

    </div>
  </div>
<% end %>
