<div class="row flex-grow-1">
    <aside class="col-md-2 bg-white p-3">
        Left Sidebar
    </aside>
    <main class="col-md-8 bg-white p-3">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "1000014595.jpg", class: "d-block w-100", alt: "" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "1000014593.jpg", class: "d-block w-100", alt: "" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "1000014596.jpg", class: "d-block w-100", alt: "" %>
        </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </button>
      </div>
      <div class="row flex-grow-1">
        <div class="container mt-5 p-4">
          <h3 class="">The first cup...</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam magni incidunt aliquid! Dignissimos odio quo tempore optio a quisquam laborum praesentium nihil dolores temporibus, inventore dolore vitae autem officiis aspernatur hic veniam illum corrupti labore error. Quibusdam qui perferendis facilis, minus odio, eum quas deleniti harum quo, nam est?</p>
          <button type="button" class="btn" style="background-color:#FB7423">Read our story</button>
        </div>
      </div>
    </main>
    <aside class="col-md-2 bg-white p-3">
        Right Sidebar
    </aside>
</div>
