<div class="row flex-grow-1">
  <main class="col-12 bg-light p-0">
    <!-- Hero Photo -->
    <div class="row flex-grow-1">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
          <div class="carousel-item active mainCarousel">
            <%= image_tag "1000014595.jpg", class: "d-block w-100", alt: "" %>
          </div>
          <div class="carousel-item mainCarousel">
            <%= image_tag "1000014593.jpg", class: "d-block w-100", alt: "" %>
          </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
        </div>
    </div>
</div>
    <!-- Graphic -->
    <div class="row align-items-center bg-secondary" style="height:250px">
      <div class="col-xxl-5 col-xl-6 col-lg-8 col-sm-9 container">
            <h2 class="text-dark h2">The warmth of the kiln</h2>
            <h1 class="text-white text-end">...in every sip</h1>
      </div>
    </div>
  </main>
</div>

<div class="container-fluid">
<div class="row flex-grow-1">
    <main class="col bg-light p-0">
      <div class="row row-cols-2 flex-grow-1">
        <div class="container d-flex justify-content-end col-10 p-5">
          <%= image_tag "IMG_9412.jpeg", class: "shadow-lg", style: "width: 300px;" %>
        </div>
        <div class="container bg-white col-12 col-sm-10 col-xxl-8  p-4">
          <h3 class="">The first cup...</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam magni incidunt aliquid! Dignissimos odio quo tempore optio a quisquam laborum praesentium nihil dolores temporibus, inventore dolore vitae autem officiis aspernatur hic veniam illum corrupti labore error. Quibusdam qui perferendis facilis, minus odio, eum quas deleniti harum quo, nam est?</p>
          <button type="button" class="btn" style="background-color:#FB7423">Read our story</button>
        </div>
      </div>
    </main>
</div>
</div>
