<!-- Hero and slogan banner -->
<section>

  <%= render "hero" %>

</section>

<section class="p-1 py-md-5">

  <%= render "home_image_collection_1" %>
  <%# render "teaser_cards" %>

</section>

  <%# render partial: "shared/banner_1" %>
<!--  About -->
<section class="p-1 py-2 p-md-3 py-lg-5">

  <%= turbo_frame_tag "about_details" do %>
    <%= render "about_card" %>
  <% end %>

</section>
