<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
  <span class="fs-4">Products</span>
</a>
<hr>
<ul class="nav d-flex flex-wrap justify-content-center gap-3 nav-pills">
  <li class="nav-item my-2">
    <a href="#" class="nav-link active" aria-current="page">
      All Products
    </a>
  </li>
  <li class="nav-item my-2">
    <a href="#" class="nav-link" aria-current="page">
      Drinkware
    </a>
  </li>
  <li class="nav-item my-2">
    <a href="#" class="nav-link">
      Dinnerware
    </a>
  </li>
  <li class="nav-item my-2">
    <a href="#" class="nav-link">
      Decorative
    </a>
  </li>
</ul>
