<div class="container-fluid">
  <div class="row flex-wrap">

    <aside class="col"></aside>

    <!-- Shopping Cart -->
    <main class="col-12 col-md-10 col-xxl-8 p-0">

        <div class="card bg-secondary shadow shopping-cart-card border-0">
          <h4 class="card-title text-center mt-2 text-white">Cart Details</h4>
          <div class="card-body px-1 px-sm-3 mx-md-3 rounded bg-white shopping-cart-body overflow-auto">

            <%= render "layouts/alert" %>

            <!-- Shopping Cart List Details -->
            <%= turbo_frame_tag "cart_items_card" do %>
              <%= render "cart_items", cart: @cart %>
            <% end %>

          </div>
          <!-- Checkout Button -->
          <div class="container-fluid d-flex justify-content-center align-items-center py-1">
            <%= button_to "Checkout", orders_path,
            class: "btn btn-warning",
            method: :post,
            data: { turbo: false } %>
          </div>
        </div>
    </main>

    <aside class="col"></aside>

  </div>
</div>
