<h1>Subscription Canceled</h1>

<p>
Hi <%= @name %>,
</p>
<p>
Although I'm sorry to see you go, I completely understand wanting less mail to sort
through! Thank you for your previous support and subscription. I hope you will check back in 
now and then to find something you truly love.
</p>
<p>
Best wishes,
</p>
<p>
<b>Jessie Edwards</b><br>
<small><i>Zold Ceramics</i></small><br>
<a href="https://zoldceramics.com"><h3>Click here to visit the shop!</h3></a>
</p>
