<h1>Order Confirmed</h1>

<p>
Hi <%= @name %>,
</p>
<p>
Thanks for your recent purchase! You should receive a receipt from Stripe, followed by an email from Shippo when your order ships!
</p>
<p>
If you have any questions concerning your order, feel free to reply to this email.
</p>
<p>
Hope you visit again soon!
</p>
<p>
<b>Jessie Edwards</b><br>
<small><i>Zold Ceramics</i></small><br>
<a href="https://zoldceramics.com"><h3>Click here to visit the shop!</h3></a>
</p>
