<h1>Pickup has been canceled.</h1>

<p>
Hi <%= @name %>,
</p>
<p>
I've had some things come up! This email is just to let you know that the 
pickup scheduled for <%= @date.strftime("%B %d, %Y") %> has been canceled. 
I will let you know as soon as I am able to reschedule.
</p>
<p>
Sorry for the inconvenience!
</p>
<p>
<b>Jessie Edwards</b><br>
<small><i>Zold Ceramics</i></small><br>
<a href="https://zoldceramics.com"><h3>Click here to visit the shop!</h3></a>
</p>
