  <h1>Contact Form</h1>
  <h4>Contact Name: <%= @name %></h4>
  <h4>Contact Email: <%= @email %></h4>

  <p><%= @message %></p>

<p>This is a test of the notifier mailer for Zold Ceramics. This mailer will deliver the contents of the Contact Form to the admin's preferred email and allow direct replying to the email provided by the user.</p>

