<!-- Hero Photo -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col p-0">
      <div class="card hero-image-container border-0 d-flex flex-wrap">
        <%= image_tag "shop-hero.webp", 
          class: "card-img hero-image rounded-0 img-fluid opacity-75", 
          srcset: {
            "shop-hero-small.webp" => "512w",
            "shop-hero-medium.webp" => "1024w",
            "shop-hero-large.webp" => "2048w"
          },
          sizes: "100vw",
          alt: "a collection of handmade pottery products on display at a local market" %>
        <div class="card-img-overlay d-flex flex-column justify-content-center gap-5 align-items-center p-lg-5">
          <div class="heroText">
            <p class="hero-title text-center text-light" style="text-shadow: 1px 0px 5px gray;">
            <span class="hero-text-one hero-title text-light">
              Drink.
            </span>
            <span class="hero-text-two hero-title text-light">
              Dine.
            </span>
            <span class="hero-text-three hero-title text-light">
              Decorate.
            </span>
            </p>
      </div>
    </div>
  </div>
</div>
