
.contact-us-card {
	opacity: 0;
	animation-name: card-fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: forwards;
	animation-fill-mode: forwards;
  background-color: rgba(102, 178, 178, 0.5);

}

@keyframes card-fade-in {
	from {
	opacity: 0;
	}

	to {
	opacity: 1;
	}
}
