@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.aboutContainer,
.heroOverlay {
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	opacity: 0;
}

