@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Birthstone';
    src: url('Birthstone-Regular.woff2') format('woff2'),
        url('Birthstone-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Borel';
    src: url('Borel-Regular.woff2') format('woff2'),
        url('Borel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Light.woff2') format('woff2'),
        url('Dongle-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Regular.woff2') format('woff2'),
        url('Dongle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Bold.woff2') format('woff2'),
        url('Dongle-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.product-category-card {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 2rem;
}

.navbar-brand {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 1.5rem;
}

.navbar {
  padding: 2px;
}

.hero-title {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 4.5rem;
}

.cart-summary-title {
  font-family: 'Borel', Helvetica, sans-serif;
  font-size: 1.5rem;
}

.borel {
  font-family: 'Borel', Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.cart-list-item {
  font-size: .8rem;
  height: 60px;
}

.about-blog {
  font-family: "Dongle", Helvetica, sans-serif;
  opacity: 75%;
}

.product-title {
  font-family: 'Borel', Helvetica, sans-serif;
  font-weight: bold;
  opacity: 95%;
}

.product-description {
  font-family: 'Borel', Helvetica, sans-serif;
  opacity: 75%;
}

.product-details {
  font-family: 'Dongle', Helvetica, sans-serif;
  opacity: 75%;
  font-size: 1.5rem;
}

.add-to-cart-btn {
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Borel', Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.amount-to-purchase-field {
  font-family: sans-serif;
  font-weight: bold;
  width: 40px;
  padding-left: 5px;
  padding-right: 0px;
}
