@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Birthstone';
    src: url('Birthstone-Regular.woff2') format('woff2'),
        url('Birthstone-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Borel';
    src: url('Borel-Regular.woff2') format('woff2'),
        url('Borel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Light.woff2') format('woff2'),
        url('Dongle-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Regular.woff2') format('woff2'),
        url('Dongle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Bold.woff2') format('woff2'),
        url('Dongle-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.product-category-card {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 2rem;
}

.navbar-brand {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 1.5rem;
}

.credits {
  font-size: 12px;
}

.navbar {
  padding: 2px;
}

.hero-title {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 0px 5px gray;
}

.cart-summary-title {
  font-family: 'Borel', Helvetica, sans-serif;
  font-size: 1.5rem;
}

.home-card-title,
.out-of-stock {
  font-family: 'Great Vibes', Helvetica, sans-serif;
}

.borel {
  font-family: 'Borel', Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.cart-list-item {
  font-size: .8rem;
  height: 60px;
}

.about-blog {
  line-height: 2;
  opacity: 75%;
  width: clamp(50vw, 750px, 90vw);
}


.about-quote {
  width: clamp(30vw, 450px, 80vw);
}


.chart-control {
  color: rgba(169, 169, 169, 0.6);
}

.chart-control:hover {
  color: rgba(169, 169, 169, 1);
}

.product-title {
  font-family: 'Borel', Helvetica, sans-serif;
  font-weight: bold;
  opacity: 95%;
}

figure {
  font-family: 'Borel', Helvetica, sans-serif;
}
.product-description {
  font-family: 'Borel', Helvetica, sans-serif;
  line-height: 1;
  opacity: 75%;
}

.product-details {
  font-family: 'Dongle', Helvetica, sans-serif;
  opacity: 75%;
  font-size: 1.5rem;
}

.dongle {
  font-family: 'Dongle', Helvetica, sans-serif;
}

.add-to-cart-btn {
  font-family: 'Dongle', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 0.5;
  padding-top: 5px;

}

.amount-to-purchase-field {
  font-family: sans-serif;
  font-weight: bold;
  width: 40px;
  padding-left: 5px;
  padding-right: 0px;
}

.about-blog a {
  width: 150px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4.25rem;
  }
}
