.image-grid-collection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50% 50%;
	height: 1200px;
	gap: 10px;
}
.main-image {
	grid-row: 1 / span 2;
	grid-column: 2;
}
.side-image{
	grid-column: 1;
}
.main-image img,
.side-image img {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.hero-image-container {
	height: 1200px;
}
.hero-image {
	width: 100%;
	height:100%;
        object-fit: cover;
        object-position: center;
}

@media (max-width: 992px) {

	.image-grid-collection {
		height: 800px;
	}

}
@media (max-width: 768px) {

	.image-grid-collection {
		height: 600px;
	}
	.hero-image-container {
		height: 800px;
	{

}
