
.carousel-item.active img, .carousel-item img {
	height: 350px;
        object-fit: cover;
        object-position: center;
}
.carousel-item.active.mainCarousel img, .carousel-item.mainCarousel img {
	max-height: 50rem;
        object-fit: cover;
        object-position: center;
}
