
.product-category-card {
	height: 200px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}


.product-dimensions-text {
  color: #c0c0c0;
}

.stripe-checkout {
  background-color: white;
  height: 93vh;
}
