<%= turbo_frame_tag id="adminOptions" do %>
  <%= render partial: "layouts/alert" %>
<h1 style="text-align: center" class="mt-2">New Product</h1>

<%= render "product_form", product: @product %>
<% end %>
