<div class="container-fluid">
  <div class="row align-items-center bg-secondary" style="height:250px">
    <div class="col-xxl-5 col-xl-6 col-lg-8 col-sm-9 container">
          <h2 class="text-dark h2">The warmth of the kiln</h2>
          <h1 class="text-white text-end">...in every sip</h1>
    </div>
  </div>
  <%= render partial: "products/partial/product_card" %>
</div>
