<div class="row flex-grow-1">
    <aside class="col-md-2 bg-white p-3">
        Left Sidebar
    </aside>
    <main class="col-md-8 bg-white p-3">
      <%= render partial: "product_card" %>
    </main>
    <aside class="col-md-2 bg-white p-3">
        Right Sidebar
    </aside>
</div>
