<!-- app/views/shipments/_results.html.erb -->
<div class="overflow-scroll bg-white" id="filtered_results" style="height: 800px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order#</th>
        <th scope="col">View</th>
        <th scope="col">Tracking Status</th>
        <th scope="col">Label URL</th>
      </tr>
    </thead>
    <tbody>
      <% if @shipments.any? %>
        <%@shipments.order(created_at: :desc).each do |shipment| %>
          <tr>
            <th scope="row"><%= shipment.order_id %></th>
            <td><%= link_to "View shipment", shipment_path(shipment.id), data: { turbo_frame: "adminOptions" } %></td>
            <td><%= shipment.tracking_status.upcase %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
