<% if flash.any? %>
  <div class="container-fluid d-flex flex-column align-items-center p-0 m-0">
  <% flash.each do |type, msg| %>
    <% if type == "notice" %>
      <% alert_style = "success" %>
    <% else %>
      <% alert_style = "danger" %>
    <% end %>
    <div class="alert alert-<%= alert_style %> m-0 w-100 text-center"><%= msg %></div>
  <% end %>
  </div>
<% end %>
